<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
    body {
        background-image: url("<%= image %>");
        background-size: cover;
    }
</style>
<body>
    <%- include('partials/nav.ejs') %>
    <img src="/img/solarsystem.jpg" width="500">

    <%- include('partials/footer.ejs') %>
</body>
</html>
